{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "no-unused-vars": "warn",
  "no-console": "off",
  "trailingComma": "none",
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120
}
